<?xml version="1.0" encoding="utf-8"?>
<manifest package="se.kicksort.myfirstapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.kicksort.myfirstapp.MainActivity"/>
        </activity>
        <activity
            android:name=".LayoutExampleActivity"
            android:label="Layout Example">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".SharedPreferencesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".listview.ListViewActivity">
        </activity>
        <activity android:name=".recyclerview.RecyclerViewActivity">
        </activity>
        <activity android:name=".database.DatbaseActivity">
        </activity>
        <activity
            android:name=".database.BasicActivty"
            android:label="@string/title_activity_basic_activty"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".fragment.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".fragment.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".fragment.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.kicksort.myfirstapp.fragment.ItemListActivity"/>
        </activity>
        <activity android:name=".threading.AsyncTaskActivity">
        </activity>
        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>